/* This should correspond to the styles specifically for the Landing Page. */

/* Styles for the entire page */

body{
    width: 100%;
    margin:0%;
}

/* Styles for hyperlinks */

a{
    text-decoration: none;
    color:black;
}

/* Styles for the header section */

header{
    width:100%;
    background-color: #fff0ed;
    box-sizing: border-box;
    padding-top:1%;
    padding-left:1%;
    padding-bottom:0;
    margin: 0;
}

/* Styles for the main navigation in the header */

.main-nav{
    display: flex;
    align-items: flex-end;
}

h2.main-nav__heading{
    margin:0%;
    color: #393939;
    font-size: 3.125rem;
    font-weight: 300;
    text-align: center;
}

.main-nav__list{
    margin-left:auto;
}

.main-nav__list li{
    display:inline;
    padding-right: 2.25rem;
    font-size:1.313rem;
}

.main-nav__list-item{
    color:#5BACC3
}

/* Styles for the main container section */

.main-container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    background-color:#fff0ed; 
}

.main-container__item1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 18.75rem;
}

.main-container__title{
    font-size: 3.75rem;
    font-weight: 300;
    margin-left: 9.375rem;
    margin-bottom: 0.938rem;
    color:#393939;
}

.main-container__coffee-description{
    font-size: 1.125rem;
    font-weight: 400;
    width: 22.5rem;
    margin: 0 0 2.5rem 9.375rem;
}

.main-container__button{
    width:11.25rem;
    padding:1rem 2.1rem;
    border: none;
    margin-left: 9.375rem;
    margin-bottom: 1.25rem;
    background-color: #5BACC3;
    font-size: 1.313rem;
    font-weight:400;
    color:white;
}

.main-container__image{
    padding-top:3rem;
    padding-bottom: 5rem;
}

/* Styles for the product section */

section.product{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f7f7f7;

}

.product__section-title{
    width:100%;
    margin-bottom: 1.25rem;
    color:#393939;
    font-size: 3.75rem;
    font-weight: 300;
    text-align: center;
}

.product__title{
    padding-left:0.0625rem;
    margin-bottom: 0;
    font-size: 2.063rem;
    color:#393939;
    font-weight:200;
}

.product__card{
    display: flex;
    flex-direction: column;
    width:20.625rem;
    height:27.5rem;
    padding: 0.625rem 0.625rem 1.0.625rem 0.625rem;
    border-radius: 1rem;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 0.313rem 0.563rem -0.0625rem rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    background-color: white;
}

.product__item-image{
    height: 15rem;
    padding-bottom: 40px;
    padding-top: 30px;
    flex-shrink: 0;
}

.product__title-container{
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 1.25rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height:100%;
    width: 100%;
    background-color: #fff0ed;
    justify-content: space-between;
    align-items: center;
}

.product__sub-container{
    padding-left:0.938rem;
    display:flex;
    flex-direction: column;
    align-content: flex-start;
}

.product__item-price{
    padding-right: 1.25rem;
    margin-top:0;
    margin-bottom: 0;
    font-size: 2.063rem;
    color: #5bacc3;
}

.product__size{
    padding-left: 1px;
    margin-top: 0px;
    color:#393939;
    font-weight:300;
}

/* Styles for the "View All" section */

.view-all{
    padding-bottom:3.75rem;
    margin-bottom:3.75rem;
    background-color: #f7f7f7;
    text-align: center;
}

.view-all__button{
    width:11.25rem;
    padding:1rem 2.1rem;
    border: none;
    margin-top: 3.125rem;
    background-color: #5BACC3;
    font-size: 1.313rem;
    font-weight:400;
    color:white;
}
/* Styles for the special product section */

.special-product{
    display:flex;
    justify-content: space-between;
}

.special-product__title{
    margin-top: 3.75rem;
    margin-bottom:0;
    color:#393939;
    font-size: 3.75rem;
    font-weight: 300;
}

.special-product__container{
    display: flex;
    flex-direction: column;
    width:33%;
    margin-left:6.25rem;
}
.special-product__image-container{
    margin-top: 3.75rem;
    margin-right:6.25rem;
    background-image: url(../assets/coldbrewbackground.png);
    background-size: cover;
}
.special-product__image{
    height:17.5rem;
    width:10rem;
    margin-top:3.75rem;
    margin-right:6.25rem;
    margin-left:6.25rem;
    margin-bottom:3.75rem;

}
.special-product__logos{
    display:flex;
    justify-content: flex-start;
}
.special-product__icon{
    width:3.125rem;
    padding-right:150px;
}

.learn-more_button{
    width:13rem;
    padding:1rem 2.1rem;
    border: none;
    margin-top: 1.875rem;
    background-color: #5BACC3;
    font-size: 1.313rem;
    font-weight:400;
    color:white;
}

/* Styles for the shop banner  */

.shop-banner{
    text-align: right;
}

.shop-banner__description{
    width: 90%; 
    background-color: #393939;
    padding: 1.875rem 0 1.875rem 0;
    margin: 9.375rem auto; 
    color: white;
    font-size: 2.813rem;
    font-weight: 400;
    text-align: center;
}

/* Styles for the address, hours, and social information */

.footer-container{
    padding-top:3.125rem;
    padding-bottom:3.125rem;
    display:flex;
    justify-content: space-around;
    background-color: #fff0ed;
}

.address__title, .hours__title, .social__title{
    font-size: 2.063rem;
    font-weight: 300;
    color: #393939;
}

.address__info, .hours__info, .social__info{
    font-size:1.125rem;
    font-weight: 400;
    color: #393939;
}

/* Styles for the social logos */

.social__logo{
    width:3.125rem;
}