/*This should correspond to the styles you will use throughout the entire site, that are not specific to a page.*/

body {
    font-family: 'Open Sans';
    font-weight: 400;
    width: 100%;
    margin:0%;
}

/* Styles for the main navigation in the header */

.header{
    width:100%;
    background-color: #fff0ed;;
    box-sizing: border-box;
    padding-top:1%;
    padding-left:1%;
    padding-bottom:0;
    margin: 0;
}

.main-nav{
    display: flex;
    align-items: flex-end;

    &__heading{
        margin:0%;
        color: #393939;
        font-size: 3.125rem;
        font-weight: 300;
        text-align: center;
    }

    &__list{
        margin-left:auto;
    }

    &__list li{
        display:inline;
        padding-right: 2.25rem;
        font-size:1.313rem;
    }

    &__list-item{
        color:#5BACC3
    }
}