/*
This should correspond to the styles specifically for the Menu Page.
*/

body{
    width: 100%;
    margin:0%;
}

a{
    text-decoration: none;
    color:black;
}

.logo{
    width: 3.125rem;
}

header{
    width:100%;
    background-color: #fff0ed;
    padding:1%;
    box-sizing: border-box;
}

header, .main-nav, .main-nav__heading, .main-nav__list{
    display: inline-block;
    margin: 0%;
}

h2.main-nav__heading{
    margin:0%;
    color: #393939;
    font-size: 3.75rem;
    font-weight: 300;
    text-align: center;
}

.main-nav__list li{
    display:inline;
    font-size:1.313rem;
    padding-right: 2.25rem;
}

.main-nav__list-item{
    color:#5BACC3
}

div.main-container{
    display:flex;
    height: 43.75rem;
    width:100%;
    background-image: url("../assets/coffee-circle.jpg");
    background-position: center;
    background-size: cover;
    justify-content: center;
}

div.main-container__menu-box{
    box-sizing: border-box;
    text-align: center;
    background-color: #393939;
    width: 18.75rem;
    height: 12.5rem;

}

h1{
    font-size: 3.75rem;
    font-weight: 300;
    color: #fff;
    margin:0%;
}

.sub-nav{
    width:100%;
    height:5rem;
    background-color: #393939;
}

.sub-nav, .sub-nav__list li{
    display:inline-block;
    text-align: center;

}

.sub-nav__list-item{
    color:white;
    font-size:1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-width: 0 0 0 4px;
    border-color:#5BACC3;
    border-style: solid;
}

.menu-item{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

h2.menu-item__header{
    color:#393939;
    font-size: 3.75rem;
    font-weight: 300;
    margin: 1.875rem 0 0 0;
}

h3.menu-item__name{
    color: #393939;
    font-size: 2.063rem;
    font-weight: 300;
    text-align: center;
    margin: 1.875rem 0 0 0;
}

p.menu-item__description{
    color:#393939;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    width: 31.25rem;
    margin: 1rem 0 0 0;
}

p.menu-item__price{
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    color: #5BACC3;
    margin: 0.5rem 0 0 0;
}

p.menu-item__price--last-item{
    margin:0.5rem 0 2.5rem 0;
}

#hot-drinks, #pastries{
    background-color: #fff0ed;
}

#cold-drinks{
    background-color: #f7f7f7;
}
